[submodule "ParseText"]
	path = ParseText
	url = ../ParseText
[submodule "fortran_tester"]
	path = fortran_tester
	url = ../fortran_tester
[submodule "fortran_h5md"]
	path = fortran_h5md
	url = ../fortran_h5md
[submodule "random_module"]
	path = random_module
	url = ../random_module
