[submodule "ParseText"]
	path = ParseText
	url = https://github.com/pdebuyl/ParseText
[submodule "fortran_tester"]
	path = fortran_tester
	url = https://github.com/pdebuyl/fortran_tester
[submodule "fortran_h5md"]
	path = fortran_h5md
	url = https://github.com/pdebuyl/fortran_h5md
[submodule "random_module"]
	path = random_module
	url = https://github.com/pdebuyl/random_module
[submodule "fortran_quaternion"]
	path = fortran_quaternion
	url = https://github.com/pdebuyl/fortran_quaternion
